<h3>Update Log</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Date</label>
      <input type="text" class="form-control" id="dateTime" required [(ngModel)]="log.dateTime" name="dateTime">
    </div>

    <div class="form-group">
      <label for="name">IP</label>
      <input type="text" class="form-control" id="ip" required [(ngModel)]="log.ip" name="ip">
    </div>

    <div class="form-group">
      <label for="name">HTTP Method</label>
      <input type="text" class="form-control" id="httpMethod" required [(ngModel)]="log.httpMethod" name="httpMethod">
    </div>

    <div class="form-group">
      <label for="name">Status HTTP</label>
      <input type="text" class="form-control" id="statusMethod" required [(ngModel)]="log.statusMethod" name="statusMethod">
    </div>

    <div class="form-group">
      <label for="name">User Agent</label>
      <input type="text" class="form-control" id="userAgent" required [(ngModel)]="log.userAgent" name="userAgent">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
